# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Air live reloading
tmp/
build-errors.log

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
# OS
.DS_Store
Thumbs.db
*.log
coverage.html
steps/

# SQLite database files
*.db